# Tidyr / Dplyr 를 이용한 Table 변환

# Gather function example:

In [20]:
library(datasets)
data(iris)
head(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [21]:
library(tidyr)
library(dplyr)

In [31]:
head(gather(iris,key="attr", value="measure", -Species))
# 나머지는 자연스럽게 (+) 가 붙는 식

head(gather(iris,key="attr", value="measure", Sepal.Length, Sepal.Width))
# 나머지는 자연스럽게 (-) 가 붙는 식

  Species attr         measure
1 setosa  Sepal.Length 5.1
2 setosa  Sepal.Length 4.9
3 setosa  Sepal.Length 4.7
4 setosa  Sepal.Length 4.6
5 setosa  Sepal.Length 5.0
6 setosa  Sepal.Length 5.4

  Petal.Length Petal.Width Species attr         measure
1 1.4          0.2         setosa  Sepal.Length 5.1
2 1.4          0.2         setosa  Sepal.Length 4.9
3 1.3          0.2         setosa  Sepal.Length 4.7
4 1.5          0.2         setosa  Sepal.Length 4.6
5 1.4          0.2         setosa  Sepal.Length 5.0
6 1.7          0.4         setosa  Sepal.Length 5.4

# Group_by function example:

In [24]:
df.new = iris %>% gather(key="attr", value="measure", -Species)

In [25]:
head(df.new)

  Species attr         measure
1 setosa  Sepal.Length 5.1
2 setosa  Sepal.Length 4.9
3 setosa  Sepal.Length 4.7
4 setosa  Sepal.Length 4.6
5 setosa  Sepal.Length 5.0
6 setosa  Sepal.Length 5.4

In [27]:
df.new %>% summarise(
    mean_measure = mean(measure)
)

  mean_measure
1 3.4645

In [29]:
df.new %>% group_by(Species) %>% summarise (
    mean_measure = mean(measure)
)

`summarise()` ungrouping output (override with `.groups` argument)

  Species    mean_measure
1 setosa     2.5355
2 versicolor 3.5730
3 virginica  4.2850

In [30]:
df.new %>% group_by(Species, attr) %>% summarise (
    mean_measure = mean(measure)
)

`summarise()` regrouping output by 'Species' (override with `.groups` argument)

   Species    attr         mean_measure
1  setosa     Petal.Length 1.462
2  setosa     Petal.Width  0.246
3  setosa     Sepal.Length 5.006
4  setosa     Sepal.Width  3.428
5  versicolor Petal.Length 4.260
6  versicolor Petal.Width  1.326
7  versicolor Sepal.Length 5.936
8  versicolor Sepal.Width  2.770
9  virginica  Petal.Length 5.552
10 virginica  Petal.Width  2.026
11 virginica  Sepal.Length 6.588
12 virginica  Sepal.Width  2.974

# Table -> Key-value pair > Table

In [42]:
head(iris)
head(iris %>% mutate(idx=row_number()) %>% relocate(idx))
# relocate: 해당 컬럼을 맨 좌측으로 옮김
kv_table = iris %>% mutate(idx=row_number()) %>% relocate(idx) %>% 
            gather(key="key", value="value", -idx)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

  idx Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 1   5.1          3.5         1.4          0.2         setosa
2 2   4.9          3.0         1.4          0.2         setosa
3 3   4.7          3.2         1.3          0.2         setosa
4 4   4.6          3.1         1.5          0.2         setosa
5 5   5.0          3.6         1.4          0.2         setosa
6 6   5.4          3.9         1.7          0.4         setosa

Warning message:
"attributes are not identical across measure variables;
they will be dropped"

In [43]:
head(kv_table)

  idx key          value
1 1   Sepal.Length 5.1
2 2   Sepal.Length 4.9
3 3   Sepal.Length 4.7
4 4   Sepal.Length 4.6
5 5   Sepal.Length 5
6 6   Sepal.Length 5.4

In [45]:
df = kv_table %>% spread(key="key",value="value") %>% relocate(idx,Sepal.Length,Sepal.Width)
head(df)

  idx Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 1   5.1          3.5         1.4          0.2         setosa
2 2   4.9          3           1.4          0.2         setosa
3 3   4.7          3.2         1.3          0.2         setosa
4 4   4.6          3.1         1.5          0.2         setosa
5 5   5            3.6         1.4          0.2         setosa
6 6   5.4          3.9         1.7          0.4         setosa

# 그 외,  separate_rows, separate, unite
# 결측치 다루기: drop_na, fill, replace_na